@import "./common/styles/font/fonts.css";
@import "./common/styles/variable.css";
@import "./common/styles/commonClasses.css";
@import "./common/styles/animation.css";

body {
  font-family: Gilroy, sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-black);
  color: var(--text-white);
}
